<?xml version='1.0' encoding='utf-8'?>
<plugin id="simple-hot-code-push" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>SimpleHotCodePush</name>
    <js-module name="SimpleHotCodePush" src="www/simple-hot-code-push.js">
        <clobbers target="cordova.plugins.SimpleHotCodePush"/>
    </js-module>
    <platform name="android">
        <config-file parent="/manifest" target="AndroidManifest.xml" xmlns:android="http://schemas.android.com/apk/res/android">
            <uses-permission android:name="android.permission.INTERNET"/>
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
            <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION"/>
        </config-file>
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="SimpleHotCodePush">
                <param name="android-package" value="org.hm8090.cordova.SimpleHotCodePush"/>
                <param name="onload" value="true"/>
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/org/hm8090/cordova/SimpleHotCodePush.java" target-dir="src/org/hm8090/cordova"/>
        <source-file src="src/android/org/hm8090/cordova/Version.java" target-dir="src/org/hm8090/cordova"/>
        <source-file src="src/android/org/hm8090/cordova/Event.java" target-dir="src/org/hm8090/cordova"/>
    </platform>
</plugin>
